<div class="card-group m-3">
  <div class="card">
    <img src="../../../assets/img/user.png" class="card-img-top" alt="users">
    <div class="card-body">
      <h5>Users</h5>
      <p>Vai alla sezione users</p>
      <button [routerLink]="['/users']" class="btn btn-primary">Vai</button>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/img/client.png" class="card-img-top" alt="clients">
    <div class="card-body">
      <a><h5 class="card-title">Clienti</h5></a>
      <p class="card-text">Vai alla sezione clienti</p>
      <button [routerLink]="['/clients']" class="btn btn-primary">Vai</button>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/img/fatture.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fatture</h5>
      <p class="card-text">Vai alle nostre fatture</p>
      <button [routerLink]="['/invoices']" class="btn btn-primary">Vai</button>
    </div>
  </div>
</div>
